<?xml version="1.0"?>
<config>    
  <modules>
    <NoPro_Bluemoon>
      <version>1.0.1.1</version>
    </NoPro_Bluemoon>
  </modules>
  
  <global>

    <models>
      <nopro_bluemoon>
	<class>NoPro_Bluemoon_Model</class>
	<resourceModel>bluemoon_resource</resourceModel>
      </nopro_bluemoon>
      <bluemoon_resource>
	<entities>
	  <bluemoon>
	    <table>nopro_bluemoon</table>
	  </bluemoon>
	</entities>
      </bluemoon_resource>
    </models>

    <helpers>
      <nopro_bluemoon>
	<class>NoPro_Bluemoon_Helper</class>
      </nopro_bluemoon>
    </helpers>
    
    <blocks>
      <nopro_bluemoon>
	<class>NoPro_Bluemoon_Block</class>
      </nopro_bluemoon>
    </blocks>

    <resources>
      <nopro_bluemoon_setup>
	<setup>
	  <module>NoPro_Bluemoon</module>
	  <class>Mage_Core_Model_Resource_Setup</class>
	</setup>
      </nopro_bluemoon_setup>
    </resources>

    <events>
      <!--
      <cms_page_render>
      <controller_front_init_before>
      <controller_action_predispatch>
      <controller_action_layout_generate_blocks_before>
      <controller_action_layout_generate_blocks_after>

      <sales_order_save_before>
      <sales_order_save_after>
      <sales_quote_save_after>
      <sales_convert_order_to_quote>

      <controller_action_order_place_after>
      <checkout_submit_all_after>
      -->
      <!--
      <controller_action_layout_generate_blocks_after>
	<observers>
	  <add_snippet>
	    <type>singleton</type>
	    <class>NoPro_Bluemoon_Model_Observer</class>
	    <method>basic</method>
	  </add_snippet>
	</observers>
      </controller_action_layout_generate_blocks_after>
      -->
      <!--
      <checkout_submit_all_after>
	<observers>
	  <purchase>
	    <type>singleton</type>
	    <class>NoPro_Bluemoon_Model_Observer</class>
	    <method>purchase</method>
	  </purchase>
	</observers>
      </checkout_submit_all_after>
      -->
    </events>

  </global>

  <frontend>
    <routers>
      <bluemoon>
        <use>standard</use>
        <args>
          <module>NoPro_Bluemoon</module>
          <frontName>bluemoon</frontName>
        </args>
      </bluemoon>
    </routers>  
    <layout>
      <updates>
	<bluemoon>
	  <file>nopro_bluemoon.xml</file>
	</bluemoon>
      </updates>
    </layout>
  </frontend>

  <admin>
    <routers>
      <adminhtml>
	<args>
	  <modules>
	    <NoPro_Bluemoon before="Mage_Adminhtml">NoPro_Bluemoon_Adminhtml</NoPro_Bluemoon>
	  </modules>
	</args>
      </adminhtml>
    </routers>
  </admin>

  <adminhtml>
    <layout>
      <updates>
	<bluemoon>
	  <file>nopro_bluemoon.xml</file>
	</bluemoon>
      </updates>
    </layout>
  </adminhtml>

  <default>
    <nopro_bluemoon>
      <creds>
	<enabled>1</enabled>
	<base_url>http://webpops.nopro.ww/bluemoon</base_url>
      </creds>
    </nopro_bluemoon>
  </default>

</config>
