<?xml version="1.0"?>
<config>
  <sections>
    <nopro_bluemoon>
      <class>seperator-top</class>
      <label>NoPro-Blue Moon</label>
      <!-- 
      <tab>general</tab>
      <tab>catalog</tab>
      <tab>customer</tab>
      <tab>sales</tab>
      <tab>service</tab>
      <tab>advanced</tab>
      -->
      <tab>service</tab>
      <frontend_type>text</frontend_type>
      <sort_order>301</sort_order><!-- OAuth has 300 -->
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
	  <general>
	      <label>Blue Moon general settings</label>
	      <frontend_type>text</frontend_type>
	      <sort_order>10</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
              <fields>
                  <enabled>
                      <label>Enable Bluemoon</label>
                      <frontend_type>select</frontend_type>
                      <source_model>adminhtml/system_config_source_yesno</source_model>
                      <sort_order>10</sort_order>
                      <show_in_default>1</show_in_default>
                      <show_in_website>1</show_in_website>
                      <show_in_store>1</show_in_store>
                  </enabled>
                  <partner_id>
                      <label>Partner ID</label>
                      <comment>login @ NoPro</comment>
                      <sort_order>30</sort_order>
                      <depends><enabled>1</enabled></depends>
                      <show_in_default>1</show_in_default>
                      <show_in_website>1</show_in_website>
                      <show_in_store>1</show_in_store>
                  </partner_id>
              </fields>
	  </general>

	  <blues>
	      <label>Blues</label>
	      <frontend_type>text</frontend_type>
	      <sort_order>20</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
              <fields>
		  <enabled>
		      <label>we have the Blues</label>
		      <frontend_type>select</frontend_type>
		      <source_model>adminhtml/system_config_source_yesno</source_model>
		      <sort_order>10</sort_order>
		      <show_in_default>1</show_in_default>
		      <show_in_website>1</show_in_website>
		      <show_in_store>1</show_in_store>
		  </enabled>
	    
		  <chooser>
		      <label>choose fields</label>
		      <frontend_type>textarea</frontend_type>
		      <comment>some fields</comment>
		      <source_model>adminhtml/system_config_source_yesno</source_model>
		      <sort_order>20</sort_order>
		      <depends><enabled>1</enabled></depends>
		      <show_in_default>1</show_in_default>
		      <show_in_website>1</show_in_website>
		      <show_in_store>1</show_in_store>
		  </chooser>
              </fields>
	  </blues>
	  <!--
	  <section_3>
	      <label>settings 3</label>
	      <frontend_type>text</frontend_type>
	      <sort_order>30</sort_order>
	      <show_in_default>1</show_in_default>
	      <show_in_website>1</show_in_website>
	      <show_in_store>1</show_in_store>
              <fields>
              </fields>
	  </section_3>
	  -->
	
      </groups>
    </nopro_bluemoon>
  </sections>
</config>
